@import url('./reset.css');

body, html, main, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body{
  background: radial-gradient(circle, rgb(83, 173, 241) 0%,
   rgb(12, 73, 187) 100%);
}

body.pointer{
  cursor: pointer;
}

body.drag{
  cursor: grab;
}

body.drag .rotation-icon{
  opacity: 1;
  transition: 0.3s ease-in-out;
}


.rotation-icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotation-icon img{
  display: block;
  object-fit: cover;
  width: 30px;
  height: 30px;
}

.cityName{
  border-radius: 12px;
  padding: 5px 20px;
  background: rgb(0, 0, 0, 0.3);
  color: white;
  white-space: nowrap;
  font-size: 22px;
}

.cityName::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: rgb(0, 0, 0, 0.3);
  border-bottom: 0;
  border-left: 0;
  margin-left: -20px;
  margin-bottom: -10px;
}

.layout-detail{
  width:  100%;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
  display: flex;
}

.left{
  width: 50%;
  height: 100%;
  clip-path: circle(61.4% at 0 51%);
}

.left>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right{
  clip-path: circle(61.4% at 98% 50%);
  backdrop-filter: blur(15px);
  background: #000c7b84;
  -webkit-backdrop-filter: blur(15px);
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.right .container{
  padding: 10rem 2rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.x-btn{
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 10px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.x-btn::after{
  content: '';
  background: url('/public/icons/x-btn.svg') 50% 50% no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  display: block;
}

.temp{
  background: url('/public/icons/thermometer.svg') 50% 50% no-repeat;
  background-size: contain;
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

.wind{
  background: url('/public/icons/wind.svg') 50% 50% no-repeat;
  background-size: contain;
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

h1{
  font-size: max(1.6667vw, 32px);
  color: #fff;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: 0.05em;
}

h2{
  display: block;
  margin-top: 0.5rem;
  font-size: max(1.4583vw, 28px);
  color: #fff;
  font-weight: 500;
  line-height: 135%;
}

.texts{
  margin-top: 1.2rem;
}

.texts p{
  line-height: 135%;
  color: #fff;
  font-size: 22px;
}